*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --first-color: #e7ddd7;
    --border-color: #854828;
    --text-color: #11110f;
    --font-family: 'Poppins', sans-serif;
    --danger-color:red;
    --shadow-color:gray;
}
button{
    cursor: pointer;
}